#!/usr/bin/make -f
export CARGO_HOME = $(CURDIR)/debian/cargo-home

%:
	dh $@

override_dh_auto_build:
	cargo build --release --locked

override_dh_auto_test:
	cargo test --release --locked

override_dh_auto_install:
	install -D -m 0755 target/release/ishtaria-worldgen debian/ishtaria-worldgen/usr/bin/ishtaria-worldgen

override_dh_auto_clean:
	rm -rf target debian/cargo-home
